name: Chapter 08 - CI/CD Integration

on: [push, pull_request]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run Tests
      run: |
        cd ./solutions/chapter_08
        npm install
        npm run test
    - uses: actions/upload-artifact@v2
      with:
        name: allure-report
        path: ./solutions/chapter_08/myAllureReport
